html, body, *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  }

.HeadingPage{
  padding-bottom: 20rem;
  background-image: url(https://images.cdn1.stockunlimited.net/preview1300/restaurant-menu-wallpaper_1807875.jpg);
  background-size: cover;
}

.ParentHeading{
  padding-bottom: 15rem;
}

.Title{
  font-size: 10rem;
  color: var(--red);
}

.ButtonMenu{
  display: flex;
  flex-direction: row;
  
}

.MenuBTN{
  margin-top: 10rem;
  margin-right: 30px;
  font-size: 40px;
  max-height: 50px;
  width: 40rem;
  background-color: transparent;
}







