html, body, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    }
      
     .ThemeButtonPage{
      text-align: center;
      background-color: azure;
     }

     .ThemeBTN{
      width: 30rem;
      font-size: 5rem;
      margin: 0 15rem 0 15rem;
      background-color: transparent;
     }

      
      .MenuPage{
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 35px;
        
      }
      
      .Child{
        border: solid 3px var(--black);
        width: 50rem;
        height: 70rem;
        margin-top: 4rem;
        background-color: var(--white);
        margin-bottom: 10rem;
      }
      
      .IMG{
        max-width: 100%;
        height: 70%;
        width: 100%;
      }
      
      .CardName{
        font-size: 50px;
        padding-top: 3px;
      }
      
      .CardPrice{
        font-size: 40px;
      }


      :root {
        --white: white;
        --black: black;
        --red: red;
        --light-blue: #a5e2ec;
        --dark-blue: #193ea5;
      }

.MenuPage{
  background-color: var(--light-blue);
}

 .light{
  background-color: var(--light-blue);
 }

 .dark{
  background-color: var(--dark-blue);
 }
