html, body, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    }

  
  .Child:hover{
    transform: scale(1.1);
    transition: all 0.75s;
    object-position: center;
  }

.MenuBTN:hover{
  transition: all 1.0s;
  transform: translateY(1rem);
}