.Parent{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Child{
  border: solid 3px black;
  width: 400px;
  height: 500px;
}

.IMG{
  max-width: 100%;
  max-height: 100%;
  
}